/* Copyright (c) 2016-2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/* sdm660.dtsi lavender/jasmine/wayne specific diff */
/ {
	energy_costs: energy-costs {
		compatible = "sched-energy";

		CPU_COST_0: core-cost0 {
			busy-cost-data = <
				633600	41
				902400	70
				1113600	83
				1401600	146
				1536000	158
				1747200	228
				1843200	285
			>;
			idle-cost-data = <
				20 16 10 8
			>;
		};

		CPU_COST_1: core-cost1 {
			busy-cost-data = <
				1113600	307
				1401600	485
				1747200	857
				1804800	883
				1958400	1222
				2150400	1592
				2208000	1632
				2457600	2080
			>;
			idle-cost-data = <
				100 80 60 40
			>;
		};

		CLUSTER_COST_0: cluster-cost0 {
			busy-cost-data = <
				633600	4
				902400	5
				1113600	7
				1401600	9
				1536000	9
				1747200	11
				1843200	13
			>;
			idle-cost-data = <
				4 3 2 1
			>;
		};

		CLUSTER_COST_1: cluster-cost1 {
			busy-cost-data = <
				1113600	14
				1401600	17
				1747200	25
				1804800	31
				1958400	31
				2150400	37
				2208000	44
				2457600	45
			>;
			idle-cost-data = <
				4 3 2 1
			>;
		};
	};
};